@using Fur.Service;
@model IEnumerable<Fur.Models.Basket>
@{
    string head = " ";
    try
    {
        head = ViewData["s"].ToString();
    }
    catch { }
}
<link rel="stylesheet" href="~/Content/style.css" type="text/css" />
<div class="table-hover" id="content">
    <div class=" alert-success bascet-header">
        <div class="shir text-center"><p>Название мебели</p></div>
        <div class="shir text-center"><p>Фото</p></div>
        <div class="shir text-center"><p>Цена</p></div>
        <div class="shir text-center"><p>Количество</p></div>
        <div class="shir text-center"></div>
    </div>


    <div class="alert-info bascet-body">
        <form method="get" action="~/Home/product">
            @foreach (var item in Model)
            {
                <div class="table-body-custom" id="row-cart-item">
                
                
                    <div class="stoka_tab">@ObjectService.IsProductInBasketItem(item,"Name")</div>
                    <div class="stoka_tab"><img src="../../img/@ObjectService.IsProductInBasketItem(item,"Photo")" style="height:50px" /></div>

                    <div class="stoka_tab"><p><i>@item.Offer.Price</i></p></div>
                    <div class="stoka_tab"><p><i>@item.Count</i></p></div>

                    <div class="stoka_tab"><input type="checkbox" id="@item.Id" name="row-cart-item"></div>
                </div>
            }
        </form>
    </div>
</div>

<div class="row">






</div>






<div id="maxi">
    @Html.Action("Max")
</div>




