@using Newtonsoft.Json
@using Fur.Service
@model Fur.Models.Product
@{
    ViewBag.Title = "Товар";
    var Category = CategoryService.GetCategoryById((int)Model.CategoryId);

}
<div class="container" style="padding-top:25px;">

    <div class="row">
        <div id="col" style="display:none;">Red</div>
        <p id="siz" style="display:none;">S</p>


        <input type="hidden" id="ProductIdHidden" value="@Model.Id">
        <input type="hidden" id="OfferIdHidden" value="@Model.Offer.First().Id">
        <img src="../../img/@Model.Photo" class="product-picture" />
        <p><strong>Название:</strong><i>@Model.Name</i></p>


        <div>
            <p id="drow">Выберете цвет</p>
            @foreach (var Offer in Model.Offer)
            {
                string OfferStr = JsonConvert.SerializeObject(Offer);

                <input type="button" id="@Offer.Id" name="color" class="razmer_k" style="background:@Offer.Color.ColorCode;" onclick="SelectOfferClient(@OfferStr)" />

            }
        </div>

        <div>
            <p>Выберете размер</p>
            @foreach (var Offer in Model.Offer)
            {

                string OfferStr = JsonConvert.SerializeObject(Offer);
                <input type="submit" name="size" id="@Offer.Id" class="razmer_k" value="@Offer.size.Name" onclick="SelectOfferClient(@OfferStr)" />
            }
        </div>

        <div id="results"></div>
        <div id="skrit">
            <p><strong>Стоимость:</strong><i id="Sum">@Model.Offer.First().Price</i></p>
            <p><strong>Артикуль:</strong><i id="ArtNoOffer">@Model.Offer.First().ArtNo</i></p>
        </div>



        @if (Category != null)
        {
        <p><strong>Категория:</strong><i>@Category.Name</i></p>
        }
        
        
        <p><input type="button" name="price" onclick="SendProduct()" class="btn btn-danger" value="Купить" /></p>
    </div>

    <script>

        function reset() {
            $('#Kol').load('/Basket/Count');
            $('#content').load('/Basket/Basket');
           // $('#max').load('/Basket/Max');
        }
    </script>
</div>